@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Fauna+One&family=Lato:wght@300&family=Metal+Mania&family=Raleway:wght@300&family=Roboto:ital,wght@0,700;1,900&display=swap');

*{
  box-sizing: border-box;

}

body{
  margin: 0;
  padding: 0;
}
.app{
  margin: auto;
}